spring:
  application:
    name: spring-data-naming-case-bug

  jpa:
    properties:
      hibernate:
        globally_quoted_identifiers: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
